#square{
    width: 200px;
    height: 200px;
    border: 10px solid;
    border-color: aqua ;
    border-radius: 50%;
}
#sec{
    position: absolute;
    width: 70px;
    border: 3px solid;
    border-color: aqua ;
    margin-top: -115px;
    margin-left: 110px ;
    animation: mov 50s linear infinite;
    transform-origin: 0%;
}

#min{
    position: absolute;
    margin-top: -115px;
    margin-left: 110px;
    width: 100px;
    border: 3px solid;
    border-color: aqua ;
    animation: mov 30s linear  infinite;
    transform-origin: 0px 
    
    
}
@keyframes mov{
    from{ 
    }
    to{
        rotate: 360deg;
    }
}
