.ol{
    width: 300px;
    border: 2px solid rgb(214, 137, 137);
    background-color: rgb(199, 163, 163);
    padding: 30px;
    color: rgb(148, 89, 89);
}
html{
    scroll-behavior: smooth;
}
.bottom_line:hover{
    text-decoration:underline;
    
}
#fon{
    background-image: url(foto/list.jpg);
    background-size: cover;
background-attachment: fixed;
}
#fon2{
    background-color: rgb(199, 163, 163, 0.5);
    /* width: 50%; */
    margin: auto 300px;
    padding: 20px;
   
}
#cats_gallary{
    border: 2px solid gray;
    margin-top: 100px;
    margin-bottom: 300px;
    background-color: lightgray;
    height: 400px;
    width: 428px;
}
#cats_gallary a{
    display: inline-block;
    border: 2px solid gray;
}